

body {
    background-color: var(--color-bg-beige);
    color: var(--color-text-main);
    font-family: var(--font-main);
    margin: 0; /* Рекомендую добавить, чтобы убрать лишние отступы по краям */
}
   
